html, body { margin: 0; padding: 0; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

#map {
	margin: 220px auto;
	width: 300px;

	-webkit-perspective: 400px;
	-webkit-transform: rotateX(30deg) rotateZ(30deg);

	-webkit-transform-style: preserve-3d;
}

.tile {
	background: #ddd;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	float: left;
	height: 20px;
	-webkit-transform-origin: 0 0;
	width: 20px;
}

.tile:nth-child(2n+1) { background: #aaa; }
.tile.golden { background: #ff0; }

.marker {
	background: #f00;
	border-radius: 10px;
	box-shadow: 0 0 5px #000;
	position: absolute;
	height: 10px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	width: 10px;
}